// redefining Bootstrap's colours
$primary: #3916DB;

@import "~bootstrap/scss/bootstrap";

body {
    background-color: #DBC100;
    margin-top: 111px;
}

// GENERAL


// NAVBAR 

.logo-picture {
    width: 127.5px;
    height: 95px;
}

.nav-container {
    min-height: 111px;
    border-bottom: black solid 2px;
}
  
.navbar-button {
    margin-left: 10px;
}

// CARDS SHOWING RECIPES WITHOUT DETAILS

.dish-card-image {
    max-width: 372px;
    height: 200px;
}

.undetailed-dish-card {
    width: 280px;
    height: 520px;
}

// CARDS SHOWING RECIPES WITH DETAILS

.detailed-dish-card {
    width: 100%;
}
