// redefining Bootstrap's colours
$primary: #3916DB;
$secondary: #BEBF77;

@import "~bootstrap/scss/bootstrap";

// FONTS 

@font-face {
    font-family: 'SharkMadeInJapan';
    src: url('../fonts/sharkmadeinjapan.ttf') format('truetype');
}

@font-face {
    font-family: 'AsianHiro';
    src: url('../fonts/aAsianHiro.ttf') format('truetype');
}

// GENERAL

body {
    margin-top: 173px;
    margin-bottom: 62px;
    width: 100%;
    background: linear-gradient(to right, #DBC100 0%, #f8980d 100%), url('../images/website/dumplings.jpg');
}

.after-body {
    background-image: url('../images/website/dumplings.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 66.66% 100%;
    background-origin: border-box;
}

h1 {
    padding-top: 20px;
    color: black;
}

// NAVBAR 

.logo-picture {
    width: 225px;
    height: 160px;
}

.nav-container {
    min-height: 160px;
    border-bottom: black solid 2px;
}
  
.navbar-button {
    margin-left: 10px;
}

.nav-container a {
    font-size: xx-large;
    font-family: asianHiro, sans-serif; 
}

// FOOTER

.footer {
    background-color: #ffffff;
    color: #000000;
    border-top: black solid 2px;
}

// CARDS SHOWING RECIPES WITHOUT DETAILS

.card-title {
    font-family: asianHiro, sans-serif; 
}

.dish-card-image {
    max-width: 372px;
    height: 200px;
}

.undetailed-dish-card {
    width: 280px;
    height: 520px;
    margin-bottom: 15px;
    border: #DB290B solid 2px;
}

// CARDS SHOWING RECIPES WITH DETAILS

.detailed-dish-card {
    width: 100%;
    border: #DB290B solid 2px;
    min-width: 372px;
}

// CARROUSEL 

.carrousel-body {
    height: 400px;
    display: grid;
    place-items: center;
  }
  
  .slider {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden; 
    border-radius: 15px;;
  }
  
  .slide {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    min-width: 372px;
    object-fit: cover;
  }
  
  .carrousel-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 19px;
    font-family: sharkMadeInJapan, sans-serif;
  }
  
  .carrousel-btn:active {
    transform: scale(1.1);
  }
  
  .btn-prev {
    top: 45%;
    left: 2%;
  }
  
  .btn-next {
    top: 45%;
    right: 2%;
  }

// RECIPE FORM

.recipe-form {
    margin: 222px 25% 12.5% 25% ;
    border: black solid 2px;
    background-color: $secondary;
    padding: 3%;
    border-radius: 15px;
    min-width: 310px;
}

// LOGIN FORM

.login-form {
    /*margin: 222px 25% 12.5% 25% ;
    border: black solid 2px;
    background-color: #16DB84;
    padding: 3%;
    border-radius: 15px;
    min-width: 310px;*/

    margin: 95px 25% 12.5% 25% ;
    border: black solid 2px;
    background-color: $secondary;
    padding: 3%;
    border-radius: 15px;
    min-width: 320px;
}

.login-card {
    background-color: $secondary;
}

.login-form input {
    width: 100%;
}

.login-forms-inputs {
    position: relative;
}

.forms-inputs span {
    position: absolute;
    top:-18px;
    left: 10px;
    background-color: #fff;
    padding: 5px 10px;
    font-size: 15px;
}

.forms-inputs input {
    height: 50px;
    border: 2px solid #eee;
}

.forms-inputs input:focus {
    box-shadow: none;
    outline: none;
    border: 2px solid #000
}

.login-btn {
    height: 50px;
}

.success-data {
    display: flex;
    flex-direction: column;
}

.bxs-badge-check {
    font-size: 90px;
}

// REGISTRATION FORM

.form-check-input {
    max-width: 20px;
    height: 20px;
    margin-right: 5px;
}

.registration-form {
    margin: 95px 25% 12.5% 25% ;
    border: black solid 2px;
    background-color: $secondary;
    padding: 3%;
    border-radius: 15px;
    min-width: 320px;
}

.registration-title {
        font-family: asianHiro, sans-serif; 
}

// MY ACCOUNT MENU

.menu-button {
    border: 2px black solid;
    border-radius: 15px;
}

.menu-container {
    background-color: $secondary;
    border: 2px black solid;
    border-radius: 15px;
}



