@import "~bootstrap/scss/bootstrap";

body {
    background-color: #DBC100;
}

// GENERAL


// NAVBAR 

.logo-picture {
    width: 127.5px;
    height: 95px;
}

// CARDS SHOWING RECIPES WITHOUT DETAILS

.dish-card-image {
    max-width: 372px;
    height: 200px;
}
