{% extends 'base.html.twig' %}

{% block title %}Nos recettes
{% endblock %}

{% block body %}

<!doctype html>

<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Nos recettes</title>
	</head>

	<body>
		<h1>Bienvenue sur {{ website }}</h1>
	</body>

</html>

{% endblock %}