{# _footer.html.twig #}

<footer class="footer text-center fixed-bottom">
  <!-- Copyright -->
  <div class="text-center p-1 pt-3">
    <p>© 2022 Copyright: Nicolas Girardet</p>
  </div>
  <!-- Copyright -->
</footer>